# 忽略 CMake 临时构建目录
build/

# 忽略 CMake 缓存
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# 忽略可能的编辑器备份文件
*~
.*.swp
.*.swo

# 忽略特定于操作系统的文件
.DS_Store  # Mac OS X 文件系统文件
Thumbs.db  # Windows 文件系统文件

# 忽略 Qt 相关临时文件
*.user
*.user.*

# 忽略可执行文件和动态库
*.exe
*.dll
*.so
